/* CSS Document */

#main {
	padding-top: 15px;
	padding-right: 0px;
	padding-left: 0px;
	background-color: #FFFFFF;
}

.jumbotron {
	margin-right: 0px;
	margin-left: 0px;
	background-color: #3498DB;
}

#welcome {
  color: #FFFFFF;
  vertical-align: middle;
  height: 100%;
  padding-bottom: 15px;
}

#welcome h3 {
  margin-top: 0px;
}

.login {
	background-color: #FFFFFF;
	padding: 15px;
	border-radius: 6px;
}

#forgotpass {
  padding-left: 0px;
  text-align:right;
}

.features {
  padding: 15px;
  height: 130px;
}

.featureimg {
	line-height: 100px;
}

.features img {
  display: inline-block;
  max-height: 100px;
  max-width: 100px;
  vertical-align: middle;
}

.regsteps {
  padding: 15px 15px 0px 15px;
  height: 125px;
}

.regstepsimg {
  line-height: 80px;
  background-color: #FFFFFF;
  border-radius: 6px;
  padding: 15px;
  width: auto;
}

.regsteps img {
  display: inline-block;
  max-height: 80px;
  max-width: 80px;
  vertical-align: middle;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer,
.content {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.footer {
	border-top: 1px solid #e5e5e5;
	margin-top: 30px;
}

.bottom-menu {
	margin-top: 20px;
	padding: 0px;
}

/* Make the masthead heading the same height as the navigation */
.header h1 {
  color: #E74C3C;
  padding-bottom: 15px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 41px;
  text-align: center;
}

.header h1 a:link {color:#E74C3C;}
.header h1 a:visited {color:#E74C3C;}
.header h1 a:hover {color:#EC7063;}
.header h1 a:active {color:#E74C3C;}

#nav {
  padding-bottom: 15px;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #48c9b0;
    border-color: #16a085;
}

.navbar-new {
    margin: -6px 0px 0px 0px;
}

.nav .dropdown-toggle .caret {
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
}

.dropdown-arrow {
    border-bottom-color: #1abc9c;
    top:auto;
    right: 5%;
}

.nav-justified > .dropdown .dropdown-menu {
    right: 0px;
    left: 0px;
    border-radius: 4px !important;
}

.dropdown-menu, .dropdown-menu li > a {
    background-color: #1abc9c;
    color: #ffffff;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    text-align: center;
}

.dropdown-menu .divider {
    height: 2px;
    background-color: #5FD0BA;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:active,
.dropdown-menu li > a:focus {
    background-color: #48c9b0;
}

.dropdown-menu li.active > a,
.dropdown-menu li.selected > a {
    background-color: #16a085;
}

.container-narrow > hr {
    margin: 30px 0;
}

.description,
.wager-group {
    margin-bottom: 15px;
}

.bottom-group {
    margin-bottom: 0px;
}

.wager-list {
    min-height: 110px;
    max-height: 300px;
    overflow-y: auto;
}

#new-wager {
    text-align: right;
}

.select .btn {
    width: 100%;
}

.select.btn-group {
    margin-bottom: 0px;
}

.select > .dropdown-menu {
    width: 100%;
    border-radius: 4px !important;
    min-height: 95px !important;
}

.select > .dropdown-menu dt {
    border-bottom: 2px solid #5FD0BA;
    margin-bottom: 0px;
    margin-top: 1px;
    padding-bottom: 1px;
}

.select > .dropdown-arrow {
    top: 100%;
}

.btn-group.open .dropdown-toggle {
    background-color: #48c9b0;
}

.ui-spinner-input {
    width: 100%;
}

.wager-ico {
    float: right;
}

.no-wagers {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dl-horizontal dd {
    min-height: 30px;
}

.ui-datepicker-today > .ui-state-highlight {
    border: 2px solid #d7dbdd;
}

@media (min-width: 768px) {
    .container {
        border-radius: 6px;
    }

    body {
        background-color: #e5e5e5;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header h1 {
        text-align: left;
    }

    .nav-justified > .dropdown .dropdown-menu {
        right: 1%;
        left: auto;
    }

    .dropdown-menu, .dropdown-menu li > a {
        text-align: left;
    }
}

/* Customize container */
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
  
  #welcome {
	padding-bottom: 0px;  
  }

  #wagers {
      padding-right: 30px;
      padding-left: 30px;
  }

  .wager-group {
      margin-bottom: 0px;
  }

    .nav-justified > .dropdown .dropdown-menu {
      right: auto;
  }
}

@media (max-width: 475px) {
  .jumbotron {
    padding-left: 0px;
	padding-right: 0px;  
  }

  #new-wager-form {
      padding-left: 15px;
      padding-right: 15px;
  }
}

